@charset "utf-8";

#nav_page_user{
    width: 20%;
    height: auto;
    //background-color: #0a0;
    float: left;
}

#content_page_user{
    width: 80%;
    height: auto;
    padding: 0px;
    //background-color: #245269;
    float: left; 
}

#user_content_left{
   width: 30%;
   height: auto; 
   //background-color: #66512c;
   float: left;
}

#user_content_right{
   width: 68%;
   height: auto;   
   float: left;
   //background-color: #9e9;
   margin-left: 2%;
}

#user_avatar{
   border: 1px solid lightgray;
   width: 100%;
   min-height: 345px;   
   float: left;
   background-color: white;
   padding: 15px;
}

#user_friends{
   border: 1px solid lightgray;
   width: 100%;
   height: 392px;   
   float: left;
   background-color: white;
   margin-top: 20px;
    
}

#user_groups{
   border: 1px solid lightgray;
   width: 100%;
   height: 400px;   
   float: left;
   background-color: white;
   margin-top: 20px;
}

#user_info{
   border: 1px solid lightgray;
   width: 100%;
   height: auto;   
   float: left;
   background-color: white; 
   padding-top: 10px;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
   word-break:break-all;
}

#user_images{
   border: 1px solid lightgray;
   width: 100%;
   height: 200px;   
   float: left;
   background-color: white; 
   margin-top: 20px;
   padding-top: 10px;
   padding-left: 5px;
   padding-bottom: 10px;
   padding-right: 10px;
   overflow: hidden;   
   white-space: nowrap;
}

#user_wall{
   border: 1px solid lightgray;
   width: 100%;
   height: auto;   
   float: left;
   background-color: white; 
   margin-top: 10px;
   padding: 20px;
}

#preview_avatar{
    display: none;
    position: relative;   
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;   
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    background-size: 100% 100%;
}

#content_avatar{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;        
    width: 70%;
    height: 70%;       
    background: #000; 
    position: fixed;
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px) {

}